h1{
    text-align: center;
}

/*
Man-
1)Facts
2)Quotes
3)Celebrity story
5)Personal experience 
4)Our Community

*/

#im1{
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 36px;
    
    
 }