/* Google Font*/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navigation Bar*/
nav{
    
    background: rgb(28, 28, 28);
    font-weight: bold;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
color: rgb(236, 233, 233);
font-size: 15px;
text-transform: uppercase;
padding: 10px 20px ;
border-radius: 3px;
}

.nav-sec.active,.nav-sec:hover{
    background: rgb(167, 163, 163);
    color: black;
    transition:.5s ;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height:80px ;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none;
}

/* Logo */
.logo{
    top: 0;
    left: 0;
}

/*Home Page*/

header{
    height: 100vh; 
    background-image: url('img/home_bg_1.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-content{
    margin-bottom: 280px;
    font-size: 3.7rem;
    color: black;
    text-align: center;
    font-weight: bold;
}

/*Home Button*/
.get-started{
    color: white;
    font-weight: bold;
    background-color: black;
    font-size: large;
}
.get-started:link, .get-started:link:visited {

    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
  }

.get-started.active,.get-started:hover{
    /* background: rgb(0, 0, 0); */
    border: 2px solid black;
    color: black;
    background-color: transparent;
    transition:.3s ;
}


/* Content-1 Section */

.content-1{
    color: rgb(67, 73, 75);
    text-align: center;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bolder;
 }
 .imagehome{
    text-align: center;
 }

 #im1{
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 30px;
    
    
 }

 .imagehome img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
 }

 .imagehome img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter:grayscale(0%);
    filter: none;
    transition: 1s ease;
 }



/********************* Responsiveness:- Section1 ************************/
 @media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    .home-content{
        margin-bottom: 200px;


    font-size: 2.3rem;

    color: white;
    text-align: center;
    }

    nav ul li a{
        font-size: 16px;
        
    }
 }


 @media (max-width: 915px){
    .checkbtn{
        display: block;
    }

    .home-content{
        margin-bottom: 250px;


    font-size: 2rem;

    color: white;
    text-align: center;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
        margin: 50px 0;
        line-height: 30px;

    }

    .nav-sec.active,.nav-sec:hover{
        background: none;
        color: black;  
    }
     
    #check:checked ~ ul{
        right: 0;
    }

    .content-1{
        font-size: 30px;
    }

 } 

 